@media(min-width: 747px) {
    .navbar{
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition:background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition:background .5s ease-in-out,padding .5s ease-in-out ;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .nav-collapse{
        padding: 0;
        background: #333333;
    }
    .navbar-custom .nav-collapse{
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .jumbotron{
        height: 100%;
        padding: 0;
    }
    .intro-body.brand-heading{
        font-size: 100px !important;
    }

    .intro-body.intro-text{
        font-size: 50px !important;
    }
}